configs/kioskflows.json
[
    {
        "id": "45549970.f6fb08",
        "type": "tab",
        "label": "Requests Router",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c830ccaa.6e1b28",
        "type": "tab",
        "label": "Messages",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93b21c98.58d238",
        "type": "tab",
        "label": "Cisco Spark",
        "disabled": false,
        "info": ""
    },
    {
        "id": "32f4df57.8b3fc8",
        "type": "tab",
        "label": "Responses",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e8c27acb.dfe27",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f0255ada.f184e",
        "type": "Spark Authentication",
        "z": "",
        "name": "Cisco Spark EBU Totem"
    },
    {
        "id": "791b4fda.be3488",
        "type": "comment",
        "z": "45549970.f6fb08",
        "name": "Messages Channel",
        "info": "Simple abstraction of messages publishing \nchannels (e.g. Spark).\n\nA channel represents a messaging service:\n  - Spark\n  - SMS\n\nA message can be:\n  - Published\n  - Deleted\n  - Read\n  \nDestination of the message can be:\n  - One destination\n  - Multiple destinations\n  - Broadcast\n  - \n  \nRequests:\n  - channels-list : return list of channels\n  - channel-subscribe : join a channel\n  - rooms-list : list of rooms\n  - send-message : post a message\n  - read-message : read a message\n  - read-messages : read multiple messages",
        "x": 140,
        "y": 240,
        "wires": []
    },
    {
        "id": "819273b.8af321",
        "type": "http in",
        "z": "45549970.f6fb08",
        "name": "",
        "url": "/send-message",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "d1a280c8.48b4"
            ]
        ]
    },
    {
        "id": "d36dfee3.ae55",
        "type": "http in",
        "z": "45549970.f6fb08",
        "name": "",
        "url": "/channels-list",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "c0971c16.121f"
            ]
        ]
    },
    {
        "id": "c0971c16.121f",
        "type": "link out",
        "z": "45549970.f6fb08",
        "name": "channelsList_out",
        "links": [
            "4090bd1a.febcec"
        ],
        "x": 415,
        "y": 280,
        "wires": []
    },
    {
        "id": "4090bd1a.febcec",
        "type": "link in",
        "z": "c830ccaa.6e1b28",
        "name": "channelsList_in",
        "links": [
            "c0971c16.121f"
        ],
        "x": 195,
        "y": 140,
        "wires": [
            [
                "b9bdf85b.1e5d4"
            ]
        ]
    },
    {
        "id": "d1a280c8.48b4",
        "type": "link out",
        "z": "45549970.f6fb08",
        "name": "messagePost_out",
        "links": [
            "280ff42a.c48f5c"
        ],
        "x": 415,
        "y": 440,
        "wires": []
    },
    {
        "id": "280ff42a.c48f5c",
        "type": "link in",
        "z": "c830ccaa.6e1b28",
        "name": "messagePost_in",
        "links": [
            "d1a280c8.48b4"
        ],
        "x": 195,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "98b6cdff.bd5e68",
        "type": "http in",
        "z": "45549970.f6fb08",
        "name": "",
        "url": "/rooms-list",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "d2b5cf94.c6d85"
            ]
        ]
    },
    {
        "id": "d2b5cf94.c6d85",
        "type": "link out",
        "z": "45549970.f6fb08",
        "name": "channelsRoomsList_out",
        "links": [
            "bc045ce3.39e6b"
        ],
        "x": 415,
        "y": 400,
        "wires": []
    },
    {
        "id": "b9bdf85b.1e5d4",
        "type": "template",
        "z": "c830ccaa.6e1b28",
        "name": "List of Channels",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[\n  {\n    \"channelId\": \"01\",\n    \"name\": \"Cisco Spark\"\n  },\n  {\n    \"channelId\": \"02\",\n    \"name\": \"Proximus SMS\"\n  }\n]\n",
        "output": "json",
        "x": 440,
        "y": 140,
        "wires": [
            [
                "e69bad7f.641d38"
            ]
        ]
    },
    {
        "id": "e69bad7f.641d38",
        "type": "change",
        "z": "c830ccaa.6e1b28",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 140,
        "wires": [
            [
                "405bfd1c.b43334"
            ]
        ]
    },
    {
        "id": "405bfd1c.b43334",
        "type": "http response",
        "z": "c830ccaa.6e1b28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "b82145d7.2a19c",
        "type": "template",
        "z": "c830ccaa.6e1b28",
        "name": "List of rooms",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[\n  {\n    \"roomId\": \"01\",\n    \"name\": \"Room 1\"\n  },\n  {\n    \"roomId\": \"02\",\n    \"name\": \"Room 2\"\n  },\n  {\n    \"roomId\": \"03\",\n    \"name\": \"Room 3\"\n  }\n]\n",
        "output": "json",
        "x": 670,
        "y": 240,
        "wires": [
            [
                "e69bad7f.641d38"
            ]
        ]
    },
    {
        "id": "bc045ce3.39e6b",
        "type": "link in",
        "z": "c830ccaa.6e1b28",
        "name": "channelsRoomsList_in",
        "links": [
            "d2b5cf94.c6d85"
        ],
        "x": 195,
        "y": 200,
        "wires": [
            [
                "c671ec39.92913"
            ]
        ]
    },
    {
        "id": "c671ec39.92913",
        "type": "function",
        "z": "c830ccaa.6e1b28",
        "name": "Check Channel",
        "func": "if (!req.query.channel) {\n    return null;\n}\nelse {\n    \n    \n    \n    return msg;    \n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 320,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5b695e2b.8a6778",
        "type": "comment",
        "z": "45549970.f6fb08",
        "name": "Initialise",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "7fbce19e.4036c8",
        "type": "inject",
        "z": "45549970.f6fb08",
        "name": "On Start",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 140,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "308ef95b.6d28ee",
        "type": "template",
        "z": "93b21c98.58d238",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Spark Message Posted</h1>\n        <p>id:{{ payload.id }}</p>\n        <p>roomid:{{ payload.roomId }}</p>\n        <p>roomtype{{ payload.roomType }}</p>\n        <p>text:{{ payload.text }}</p>\n        <p>personid:{{ payload.personId }}</p>\n        <p>email:{{ payload.personEmail }}</p>\n        <p>timestamp:{{ payload.created }}</p>\n        \n    </body>\n</html>",
        "output": "str",
        "x": 670,
        "y": 120,
        "wires": [
            [
                "817c6547.a79b68"
            ]
        ]
    },
    {
        "id": "817c6547.a79b68",
        "type": "http response",
        "z": "93b21c98.58d238",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "245f5840.f1514",
        "type": "Spark API",
        "z": "93b21c98.58d238",
        "profileConfig": "f0255ada.f184e",
        "apiUrl": "http://127.0.0.1:1880/api/cisco_spark_v1.json",
        "resource": "messages",
        "method": "createMessage",
        "name": "",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "9f18a7c4.c2baa8",
                "308ef95b.6d28ee"
            ]
        ]
    },
    {
        "id": "20a846b.965063a",
        "type": "inject",
        "z": "93b21c98.58d238",
        "name": "Send Message",
        "topic": "",
        "payload": "{\"body\":{\"roomId\":\"Y2lzY29zcGFyazovL3VzL1JPT00vZThjOWM4YjAtN2NlNi0xMWU3LTg2MjYtOGRmZDc1NTVjZTAy\",\"text\":\"Message from NodeRed\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "245f5840.f1514"
            ]
        ]
    },
    {
        "id": "9f18a7c4.c2baa8",
        "type": "debug",
        "z": "93b21c98.58d238",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1330,
        "y": 400,
        "wires": []
    },
    {
        "id": "d51b2048.5911b8",
        "type": "comment",
        "z": "93b21c98.58d238",
        "name": "Post a Message",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "20dbaf33.27ae08",
        "type": "link in",
        "z": "93b21c98.58d238",
        "name": "spark_publish_message",
        "links": [],
        "x": 75,
        "y": 120,
        "wires": [
            [
                "245f5840.f1514"
            ]
        ]
    },
    {
        "id": "f0f6ac96.b79e4",
        "type": "Spark API",
        "z": "93b21c98.58d238",
        "profileConfig": "f0255ada.f184e",
        "apiUrl": "http://192.168.0.79/api/cisco_spark_v1.json",
        "resource": "people",
        "method": "getMe",
        "name": "",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "e9f05b8c.cf0fd8"
            ]
        ]
    },
    {
        "id": "347061a7.f402d6",
        "type": "inject",
        "z": "93b21c98.58d238",
        "name": "Request",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "f0f6ac96.b79e4"
            ]
        ]
    },
    {
        "id": "3f7305cc.7906ea",
        "type": "http in",
        "z": "45549970.f6fb08",
        "name": "",
        "url": "/channel-subscribe",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f7a69175.368678",
        "type": "http in",
        "z": "45549970.f6fb08",
        "name": "",
        "url": "/read-messages",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "fa72e316.acd878",
        "type": "http in",
        "z": "45549970.f6fb08",
        "name": "",
        "url": "/read-message",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "181719fb.cbf5b6",
        "type": "Spark API",
        "z": "93b21c98.58d238",
        "profileConfig": "f0255ada.f184e",
        "apiUrl": "http://192.168.0.79/api/cisco_spark_v1.json",
        "resource": "rooms",
        "method": "getRooms",
        "name": "",
        "x": 390,
        "y": 600,
        "wires": [
            [
                "9f18a7c4.c2baa8"
            ]
        ]
    },
    {
        "id": "3ef16998.a6509e",
        "type": "comment",
        "z": "93b21c98.58d238",
        "name": "People requests",
        "info": "",
        "x": 120,
        "y": 280,
        "wires": []
    },
    {
        "id": "7cc9b18d.947c78",
        "type": "inject",
        "z": "93b21c98.58d238",
        "name": "Request",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 600,
        "wires": [
            [
                "181719fb.cbf5b6"
            ]
        ]
    },
    {
        "id": "d6dea1c8.8589",
        "type": "Spark API",
        "z": "93b21c98.58d238",
        "profileConfig": "f0255ada.f184e",
        "apiUrl": "http://192.168.0.79/api/cisco_spark_v1.json",
        "resource": "messages",
        "method": "getMessages",
        "name": "",
        "x": 410,
        "y": 680,
        "wires": [
            [
                "9f18a7c4.c2baa8"
            ]
        ]
    },
    {
        "id": "1aea145b.de5c9c",
        "type": "inject",
        "z": "93b21c98.58d238",
        "name": "Request",
        "topic": "",
        "payload": "{\"roomId\":\"Y2lzY29zcGFyazovL3VzL1JPT00vZThjOWM4YjAtN2NlNi0xMWU3LTg2MjYtOGRmZDc1NTVjZTAy\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 680,
        "wires": [
            [
                "d6dea1c8.8589"
            ]
        ]
    },
    {
        "id": "e9f05b8c.cf0fd8",
        "type": "Spark Payload Parser",
        "z": "93b21c98.58d238",
        "name": "",
        "parsers": [
            {
                "key": "emails",
                "as": ""
            },
            {
                "key": "displayName",
                "as": ""
            },
            {
                "key": "nickName",
                "as": ""
            },
            {
                "key": "lastName",
                "as": ""
            },
            {
                "key": "firstName",
                "as": ""
            },
            {
                "key": "avatar",
                "as": ""
            }
        ],
        "x": 820,
        "y": 400,
        "wires": [
            [
                "9f18a7c4.c2baa8"
            ]
        ]
    },
    {
        "id": "ebeaa46.fdc1bd8",
        "type": "Spark API",
        "z": "93b21c98.58d238",
        "profileConfig": "f0255ada.f184e",
        "apiUrl": "http://192.168.0.79/api/cisco_spark_v1.json",
        "resource": "people",
        "method": "getPerson",
        "name": "",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "e9f05b8c.cf0fd8"
            ]
        ]
    },
    {
        "id": "ea9898c5.2cab5",
        "type": "inject",
        "z": "93b21c98.58d238",
        "name": "Request",
        "topic": "",
        "payload": "{\"personId\":\"Y2lzY29zcGFyazovL3VzL1BFT1BMRS9iZTFiOGQwZS0wYTY2LTRlMDQtYjA4MC03ZDJkZDMwZjQ2OWM\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 400,
        "wires": [
            [
                "ebeaa46.fdc1bd8"
            ]
        ]
    },
    {
        "id": "517fa4e3.92b8f4",
        "type": "comment",
        "z": "93b21c98.58d238",
        "name": "Room requests",
        "info": "",
        "x": 120,
        "y": 540,
        "wires": []
    },
    {
        "id": "e379d9d6.156e",
        "type": "Spark API",
        "z": "93b21c98.58d238",
        "profileConfig": "f0255ada.f184e",
        "apiUrl": "http://192.168.0.79/api/cisco_spark_v1.json",
        "resource": "people",
        "method": "getPeople",
        "name": "",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "e9f05b8c.cf0fd8"
            ]
        ]
    },
    {
        "id": "30308081.6cd54",
        "type": "inject",
        "z": "93b21c98.58d238",
        "name": "Request",
        "topic": "",
        "payload": "{\"email\":\"vincent.dupont@proximus.com\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 460,
        "wires": [
            [
                "e379d9d6.156e"
            ]
        ]
    }
]